
:root {
  --color-white: #fff;
  --color-lightgray: #f0f0f0;
  --color-yellow: #b59f5b;
  --color-gray: #f3f7f5;
  --color-darkgray: #999999;
  --color-black: #000;
  --color-lightyellow: #7e7e7e;
  --color-verylightyellow: #e1d9bd;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
       url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
       url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.header {
  position: relative;
  width: 100%;
  min-height: 450px;
  color: var(--color-lightgray);
}

.header-content {
  position: absolute;
  width: 100%;
  max-width: 1220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 20px;
  align-items: center;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

.header-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.header-top {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  align-items: center;
  padding: 1% 1% 0 2%;
  box-sizing: border-box;
  overflow: hidden;
}

.logo {
  position: relative;
  width: 180px;
  height: auto;
  align-self: flex-start;

}

.menu ul {
  position: absolute;
  top: 5px;
  right: 25px;
  z-index: 3;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.menu a {
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: var(--color-white);
  z-index: 3;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.heading {
  position: relative;
  z-index: 3;
  text-align: center;
  max-width: 58%
}

.header-icon {
  display: none;
}

.heading-h1 {
  position: relative;
  font-family: "OpenSans";
  font-weight: 900;
  color: var(--color-white);
  line-height: 160%;
  text-transform: uppercase;
  font-size: 2.8125rem;
  top: -10px;
  right: 0px;
}

.header .heading {
  position: relative;
  z-index: 2;
}

.headline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.caption {
  font-family: "OpenSans";
  font-size: 1.25rem;
  display: flex;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  margin-top: 56px;
  font-weight: 900;
}

.cards {
  display: flex;
  width: 100%;
  height: auto;
  gap: 5px;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
 
}

.card {
  position: relative;
  width: calc(25% - 4px);
  min-width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
}

.card--preview {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.card--preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card--body {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  border: 4px solid var(--color-yellow);
  margin: 10% 0% 3% 3.5%;
  padding: 8% 5% 3% 10%;
  z-index: 3;
  box-sizing: border-box;
  width: 90%;
  text-transform: uppercase;
}

.card-text {
  font-family: "OpenSans";
  font-weight: 900;
  display: block;
  width: 100%;
  color: var(--color-lightgray);
  font-size: 1.25rem;
  line-height: 140%;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 1.5% 0 1.5%;
  box-sizing: border-box;

}

.post-list {
  margin-top: 63px;
  width: 67%;
  flex-wrap: wrap;
  max-width: 780px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 3.8%;
  margin-bottom: 60px;
  align-items: stretch;

}

.menu-img-main {
  object-fit: cover;
  max-width: 380px;
  width: 50%;
  height: auto;
  flex-shrink: 0;
  display: block;
}

.main-categories {
  position: relative;
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: "OpenSans";
  margin-top: -3px;
  margin-bottom: -14px;
  font-weight: 900;
}

.main-categories a {
  text-decoration: none;
  color: var(--color-yellow);
}

.main-categories a:hover {
  text-decoration: underline;
}

.post-title {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: left;
  font-family: "OpenSans";
  font-weight: 900;
  margin-bottom: 27px;
  line-height: 125%;
}

.post-title a {
  color: var(--color-black);
  text-decoration: none;
}

.date-author {
  margin-bottom: 45px;
}

.date-author .date {
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 0.75rem;
}

.author {
  font-family: "OpenSans";
  margin-left: 9px;
  font-size: 0.75rem;
  font-weight: bold;
}

.text {
  max-height: 350px;
  max-width: 380px;
  font-size: 0.9375rem;
  font-family: "OpenSans";
  font-weight: normal;
  line-height: 145%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text p {
margin-block-start: 0em;
}

.separator-line-long-mobile {
  display: none;
}


.side-bar {
  padding-top: 48px;
  width: 27%;
  max-width: 270px;
  text-transform: uppercase;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  flex-wrap: wrap;
}

h2 {
  font-family: "OpenSans";
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2px;
}

.separator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.separator-line {
  width: 65px;
  border: none;
  border-top: 3px solid var(--color-verylightyellow);
  margin-bottom: 28px;
}

.menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;

}

.menu-list-item {
  margin-bottom: 21px;
}

.menu-img {
  float: left;
  width: 26%;
  height: auto;
  margin-right: 17px;
}

.menu-list .date {
  color: #7e7e7e;
  font-size: 0.75rem;
  font-family: "OpenSans";
  font-weight: normal;
  text-align: left;
  text-transform: none;
  margin-top: -4px;
  margin-bottom: 2px;
}

.title {
  line-height: 130%;
  font-size: 0.875rem;
  font-family: "OpenSans";
  text-align: left;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 900;
}

.menu-list a {
  color: var(--color-black);
  text-decoration: none;
}

.search-bar {
  margin-top: 40px;
  background-color: var(--color-gray);
  height: 48px;
  width: 100%;
  max-width: 270px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 45px;
}

.search-input {
  flex-grow: 1;
  height: 100%;
  border: none;
  background: transparent;
  padding: 0px 20px;
  font-size: 12px;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.search-button {
  height: 100%;
  width: 18%;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  background-image: url("../svg/search.svg");
  cursor: pointer;
  border: none;
  background-color: var(--color-yellow);
}

input:focus {
  border: 1px solid var(--color-yellow);
  outline: none;
}

.form-row {
  resize: vertical;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-color: transparent;
  max-width: 270px;
  margin-bottom: 20px;
}

.field {
  background-color: var(--color-gray);
  font-size: "OpenSans-Regular";
  font-size: 0.8175rem;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 15px;
  padding-left: 20px;
  border-color: transparent;
  box-sizing: border-box;
}

.sent-button {
  width: 100%;
  height: 50px;
  background-color: var(--color-yellow);
  color: var(--color-white);
  font-family: "OpenSans";
  font-size: 0.875rem;
  text-transform: uppercase;
  border-color: transparent;
}

.sent-button:hover {
  background-color: rgb(50, 50, 50);
}

.tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  font-family: "OpenSans";
  font-weight: 900;
  font-size: 0.75rem;
}

.tags-common {
  margin-top: -3px;
  display: inline-block;
  line-height: 300%;
  margin-bottom: 25px;
}

.tag-categories {
  border: 3px solid var(--color-gray);
  padding: 5px 15px;
}

.tag-categories:hover {
  border: 3px solid var(--color-yellow);
}

.categories {
  font-family: "OpenSans";
  width: 100%;
  max-width: 270px;
  margin-top: 15px;
  font-weight: 900;
  font-size: 0.875rem;
  text-transform: capitalize;
}

.categories-list-common {
  margin-top: -5px;
}

.count {
  font-family: "OpenSans";
  font-weight: 900;
  font-size: 0.675rem;
  color: var(--color-yellow);
  vertical-align: super;
  padding-left: 5px;
}

.separator-line-long {
  border: none;
  border: 1px solid var(--color-lightgray);
  margin-top: 10px;
  margin-bottom: 15px;
}

.shop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  top: -15px;
  margin: 0 auto;
 
}

.products-name {
  font-size: 20px;
  font-weight: 900;
}

.products {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  height: auto;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc((100% - 2 * 30px) / 3);
  min-width: 300px;
  box-sizing: border-box;
}

.product-image {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
}

.product-image img {
  width: 80%;
  justify-content: center;
  object-fit: cover;
}

.shop-card {
  position: relative;
  display: flex;
  width: 95%;
  height: 100%;
  max-height: 320px;
  flex-direction: column;
  border: 3px solid var(--color-yellow);
  margin-top: -40px;
  padding: 35px 20px;
  box-sizing: border-box;
  margin-left: 15px;
}

.product-text {
  font-family: "OpenSans";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-description {
  font-family: "OpenSans";
  font-weight: 400;
  text-transform: none;
  font-size: 0.9375rem;
  line-height: 145%;
  margin-top: -15px;
}

.product-description a {
  text-decoration: none;
  color: var(--color-yellow);
}

.sale {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.cost {
  font-family: "OpenSans";
  position: relative;
  width: 30%;
  text-align: left;
  font-weight: 900;
  font-size: 1.25rem;
}

.cart-button {
  position: relative;
  width: 50%;
  height: auto;
  align-self: flex-end;
  height: 50px;
  background-color: var(--color-yellow);
  color: white;
  font-family: "OpenSans";
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  border-color: transparent;
}

.cart-button:hover {
  background-color: rgb(50, 50, 50);
}

.last-cost {
  text-decoration: line-through;
  font-size: 0.675rem;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 3% 0% 0 1%;
}

.product-description {
  text-align: left;
}

.social {
  width: 100%;
  height: 85px;
  background-color: var(--color-lightgray);
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 20px;
  height: auto;
}

.copyright {
  font-size: 0.75rem;
  font-family: "OpenSans-Bold";
  font-weight: bold;
  color: var(--color-darkgray);
  margin-top: 70px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-family: "OpenSans";
  font-weight: normal;
}

.popup-wrapper {
  position: relative;
  display: inline-block;
}

.popup {
  position: relative;
  background-color: var(--color-white);
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
}

.popup h2 {
  margin-top: 20px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup label {
  font-weight: bold;
  font-size: 0.75rem;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  width: 100%;
  background-color: var(--color-lightgray);
  background: url("../svg/form-arrows.svg") no-repeat right;
  background-size: 8px;
  background-position: calc(100% - 10px) center;
}

.radio-button {
  display: flex;
  gap: 20px;
  align-items: center;
}

.radio-button input[type="radio"] {
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-button label {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  cursor: pointer;
  padding-left: 20px;
  line-height: 16px;
}

.radio-button input[type="radio"]+label {
  background-image: url('../svg/form-empty-circle.svg');
}

.radio-button input[type="radio"]:checked+label {
  background-image: url('../svg/form-circle.svg');
}

.popup select,
.popup input[type="text"],
.popup textarea {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 10px;
  color: var(--color-lightyellow);
  background-color: var(--color-lightgray);
  box-sizing: border-box;
  resize: none;
}

.submit-btn {
  width: 100%;
  align-self: center;
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--color-yellow);
  color: var(--color-white);
  font-size: 12px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  margin-bottom: 10%;
  margin-top: 3%;
}

.submit-btn:hover {
  background-color: rgb(50, 50, 50);
}

.close-btn {
  position: absolute;
  top: -40px;
  right: -20px;
  background-color: transparent;
  border: none;
  font-size: 38px;
  cursor: pointer;
  color: var(--color-white);
}

.close-btn:hover {
  color: var(--color-yellow);
}

.-hidden {
  display: none;
}

@media screen and (max-width: 1200px)  {
  .header {
    min-height: 400px;
  }

  .header-top {
    padding: 22px 40px;
  }

  .logo {
    width: 22%;
  }

  .heading {
    max-width: 80%;
  }

  .heading-h1 {
    font-size: 2.5rem;
  }

  .icon-container {
    display: none;
  }

  .menu a {
    display: none;
  }

  .hamburger {
    display: block;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20%;
    right: 30px;
    top: -5px;
    gap: 0;
    padding: 0;
  }

  .menu-header.active a {
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 0;
    background-color: transparent;
    width: 100%;
    height: auto;
    z-index: 3;
  }

  .headline {
    right: 0;
  }

  .caption {
    margin-top: 40px;
  }

  .card {
    width: calc(50% - 10px);
    min-width: none;
    left: 0px;
    height: 230px;
  }


  .card--body {
    border: 3px solid var(--color-yellow);
    width: 90%;
    margin: 2% 7% 5% 5%;
    padding: 5% 10% 0% 7%;
  } 
  
  .main {
    padding: 0 2% 0 2.5%;
  }

  .post {
    margin-top: -10px;
    flex-direction: column;
    padding: 0 1% 0 2%;
  }

  .post-list {
    width: calc(100% - 327px);
  }

  .post-title {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .menu-img-main {
    width: 100%;
    max-width: none;
  }

  .frame {
    width: 98%;
  }

  .date-author {
    margin-bottom: 32px;
  }

  .separator-line-long-mobile {
      position: relative;
      display: block;
      width: 100%;
      border: none;
      border: 2px solid var(--color-lightgray);
      margin-top: -40px;
      margin-bottom: 50px;
      width: 93%;
      left: 3%;
  }

  .text p {
    margin-block-end: 0em;
  }

  .side-bar {
    width: 270px;
    padding-top: 38px;
    right: 20px;
  }

  .search-bar {
    max-width: none;
  }

  .form-row {
    max-width: none;
  }

  .text {
    max-height: none;
    max-width: none;
  }

  .main-categories {
    margin-top: 10px;
  }
 
  .shop {
    top: -15px;
    font-size: 22px;
    padding: 0% 5% 0 2.5%;
  }

  .products {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
  }

  .product {
    left: 0px;
    flex: 0 0 calc((100% - 50px) / 2);
  }

  .product-image img {
    width: 85%;
    height: 120%;
    padding-left: 0px;
    min-width: 100px;
}

.shop-card {
  margin-top: 0px;
}

.product-text {
  padding-top: 15%;
}
}

@media screen and (max-width: 1200px) and (orientation: landscape) {

  .card {
    width: calc(25% - 3px);
  }

  .product {
    left: 0px;
    flex: 0 0 calc((100% - 50px) / 2);
  }
} 


@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
  }

  .header {
    height: 100vh;
    
  }

  .hamburger {
    top: 0;
    font-size: 2.25rem;
    right: 3%;
  }

  .logo {
    display: none;
  }

  .heading {
    position: relative;
    width: 100%;
  }

  .header-icon {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }

  .heading-h1 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    font-size: 1.9rem;
    line-height: 145%;
  }

  .caption {
    margin: 0 auto;
    top: 55px;
    margin-bottom: 60px;
  }

  .separator-line {
    width: 95px;
    border-top: 6px solid var(--color-verylightyellow);
  }

  .menu a {
    display: none;
  }

  .card {
    width: 100%;
    height: 350px;
  }

  .card--body {
    width: 91%;
    padding: 6% 5% 3% 5%;
  }

  .card-text {
    width: 100%;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 6%;
  }

  .main {
    display: flex;
    flex-direction: column;
    padding: 2% 1% 5% 2%;
  }

  .post-list {
    margin-top: 62px;
    width: 100%;
  }

  .menu-img-main {
    width: 98%;
  }

  .main-categories {
    margin-top: 4%;
    font-size: 1rem;
    gap: 30px;

  }

  .post-title {
    margin-top: 6%;
    font-size: 1.09rem;
  }

  .frame {
    width: 100%;
  }

  .date-author .date {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .author {
    margin-left: 3%;
    font-size: 18px;
    
  }

  .text {
    font-size: 1.1rem;
    margin-top: -10px;
  
  }

  .separator-line-long-mobile {
    margin-bottom: 12%;
  }

  .side-bar {
    width: 100%;
    min-width: 500px;
    padding: 1% 2% 0 2%;
    right: 0px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .menu-list-item {
    margin-top: 20px;
    margin-bottom: 12px;
  }

  .title {
    font-size: 1rem;
    padding-top: 5px;
  }

  .menu-img {
    width: 22%;
    margin-right: 25px;
  }

  .menu-list .date {
    font-size: 0.9rem;
  }
  
  .search-bar {
    margin-top: 78px;
    height: 75px;
    width: 100%;
    margin-bottom: 35px;
  }
  
  .search-input {
    font-size: 0.9rem;
  }
  
  .search-button {
    width: 15%;
  }
  
  .form-row {
    margin-bottom: 25px;
  }
  
  .field {
    font-size: 1rem;
    height: 70px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 20px;
  }
  
  .sent-button {
    width: 100%;
    height: 70px;
    font-weight: 900;
    font-size: 1rem;
  }
  
  .tags {
    margin-top: 15px;
    font-size: 0.9rem;
  }
  
  .tags-common {
    margin-bottom: 15px;
  }
  
  .tag-categories {
    border: 5px solid var(--color-gray);
    padding: 5px 18px;
  }
  
  .categories {
    max-width: none;
    margin-top: 23px;
    font-size: 1.1rem;
  }

  .categories-list-common {
    margin-top: 0px;
  }
  
  .count {
    font-size: 1rem;
    padding-left: 5px;
  }
  
  .separator-line-long {
    margin-top: 16px;
    margin-bottom: 18px;
  }
  
  .shop {
    top: 0px;
    right: 0px;
    padding: 0 0 0 3%;
  }
  
  .products-name {
    font-size: 1.2rem;
    margin-top: 12px;
    padding-right: 5px;
    margin-bottom: 5px;
  }
   
  .product {
    margin-top: 10px;
    margin-bottom: 20px;
    flex: 0 0 100%;
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .product-image img {
    width: 82%;
  }

  .product-description {
    font-family: "OpenSans";
    font-weight: 900;
    font-size: 1rem;
    margin-top: -10px;
  }

  .product-text {
    padding-top: 13%;
  }

 .shop-card {
  margin-top: 20px;
  max-height: 700px;
  border: 5px solid var(--color-yellow);
 }

 .product-image {
  height: 360px;
 }
  .sale {
    margin-top: 30px;
    padding-bottom: 15px;
  }

  .cost {
    font-size: 1.2rem;
  }
  
  .cart-button {
    font-size: 0.9rem;
    height: 70px;
  }
  
  .last-cost {
    font-size: 1rem;
  }
  .footer {
    padding: 8% 5% 0 3%;
  }
 
  .social {
    height: 120px;
    gap: 35px;
  }
  
  .icon {
    display: inline-block;
    width: 30px;
    height: auto;
  }
  
  .copyright {
    font-size: 0.9rem;
  } 
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .card {
    width: calc(50% - 2px);
  }
}