body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: "OpenSans-Regular";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  }
  
  @font-face {
    font-family: "OpenSans-Bold";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  }
  
  .header {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #f0f0f0;
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header-content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    aline-items: center;
    margin-top: 28px;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 1.9% 0 0.4%;
    box-sizing: border-box;
  }
  
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  .logo {
    position: relative;
    z-index: 2;
    width: 180px;
    height: auto;
    align-self: flex-start;
  }
  
  .menu {
    position: relative;
    z-index: 2;
    list-style: none;
    display: flex;
    gap: 35px;
  }
  
  .menu a {
    font-family: OpenSans-Regular;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 2;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .heading {
    position: relative;
    z-index: 2;
    font-family: OpenSans-Bold;
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    margin: 102px auto 0;
    margin-bottom: auto;
    line-height: 160%;
    max-width: 57.4%;
  }
  
  .header .heading {
    position: relative;
    z-index: 2;
  }
  
  .main {
    font-family: OpenSans-Regular;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.3% 0 0.2%;
    box-sizing: border-box;
  }
  
  .post-list {
    margin-top: 62px;
    width: 67%;
    max-width: 780px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: OpenSans-Regular;
  }
  
  .post {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 3.8%;
    margin-bottom: 60px;
    align-items: stretch;
  }
  
  .menu-img-main {
    object-fit: cover;
    max-width: 380px;
    width: 50%;
    height: auto;
    flex-shrink: 0;
  }
  
  .main-categories {
    position: relative;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: OpenSans-Bold;
    margin-bottom: -14px;
  }
  
  .main-categories a {
    text-decoration: none;
  }
  
  .main-categories a:hover {
    text-decoration: underline;
  }
  
  .main-categories a {
    color: #b59f5b;
  }
  
  .post-title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    font-family: OpenSans-Bold;
    margin-bottom: 23px;
    line-height: 125%;
  }
  
  .post-title a {
    color: black;
    text-decoration: none;
  }
  
  .date-author {
    font-family: OpenSans-Regular;
    margin-bottom: 45px;
  }
  
  .date-author .date {
    font-size: 12px;
  }
  
  .author {
    font-family: OpenSans-Bold;
    margin-left: 7px;
    font-size: 12px;
  }
  
  .text {
    max-height: 350px;
    max-width: 380px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    line-height: 145%;        
    overflow: hidden;            
    text-overflow: ellipsis; 
  }
  
  .side_bar {
    padding-top: 48px;
    width: 23.7%;
    max-width: 270px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: OpenSans-Regular;
    text-decoration: none;
  }

  ul li {
    list-style: none;
  }
  
  .h2 {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
  }
  
  .separator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .separator-line {
    width: 65px;
    border: none;
    border-top: 3px solid #e1d9bd;
    margin: 0px 0 28px 0;
  }
  
  .menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
  }
  
  .menu-list-item {
    margin-bottom: 7px;
  }
  
  .menu-img {
    float: left;
    width: 25.5%;
    height: auto;
    margin-right: 20px;
  }
  .menu-list .date {
    color: #7e7e7e;
    font-size: 12px;
    font-family: OpenSans-Regular;
    text-align: left;
    text-transform: none;
    margin-top: -4px;
    margin-bottom: 2px;
  }
  
  .title {
    line-height: 130%;
    font-size: 14px;
    font-family: OpenSans-Bold;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  
  .menu-list a {
    color: black;
    text-decoration: none;
  }
  
  .date {
    line-height: 18px;
    color: #7e7e7e;
    font-size: 10px;
    font-family: OpenSans-Regular;
    text-align: left;
    text-transform: none;
  }
  
  .search-bar {
    margin-top: 51px;
    background-color: #f3f7f5;
    height: 48px;
    width: 100%;
    max-width: 270px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 45px;
  }
  
  .search-input {
    flex-grow: 1;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0px 20px;
    font-size: 12px;
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
  
  .search-button {
    height: 100%;
    width: 18%;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
    border: none;
    background-color: #b59f5b;
  }
  
  .search-bar:hover {
    border: 1px solid #b59f5b;
  }
  
  .form-row {
    resize: vertical;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-color: transparent;
    max-width: 270px;
    margin-bottom: 20px;
  }
  
  .field {
    background-color: #f3f7f5;
    font-size: 13px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 15px;
    padding-left: 20px;
    border-color: transparent;
    box-sizing: border-box;
  }
  
  .field:hover {
    border: 1px solid #b59f5b;
  }
  
  .sent-button {
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    color: white;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-transform: uppercase;
    border-color: transparent;
  }
  
  .sent-button:hover {
    background-color: rgb(50, 50, 50);
  }
  
  .tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-family: OpenSans-Bold;
    font-size: 12px;
  }
  
  .tags-common {
    margin-top: -10px;
    display: inline-block;
    line-height: 300%;
    margin-bottom: 27px;
  }
  
  .tag-categories {
    border: 3px solid #f3f7f5;
    padding: 5px 15px;
  }
  
  .tag-categories:hover {
    border: 3px solid #b59f5b;
  }
  
  .categories {
    width: 100%;
    max-width: 270px;
    margin-top: 15px;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-transform: capitalize;
  }
  
  .categories-list-common {
    margin-top: -5px;
  }
  
  .count {
    font-family: OpenSans-Bold;
    font-size: 10px;
    color: #b59f5b;
    vertical-align: super;
  }
  
  .separator-line-long {
    border: none;
    border: 1px solid #ededed;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1% 0 0.2%;
  }
  
  .social {
    width: 100%;
    height: 85px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
  }
  
  .icon {
    display: inline-block;
    width: 20px;
    height: auto;
  }
  
  .copyright {
    font-size: 12px;
    font-family: OpenSans-Bold;
    color: #adadad;
    margin-top: 70px;
  }
  